<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # 【追加】プロジェクトのルートがドメイン直下なら / を指定
    # もし http://ubuntu.local なら /my-app/ にする
    RewriteBase /

    # 末尾のスラッシュをリダイレクトで処理（ここが原因でPOSTが消えることがある）
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # ファイルやディレクトリが存在しない場合は index.php へ
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
