@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=LINE+Seed+JP&display=swap");

.btn-primary {
    background: #4d27b7;
    transition: 0.3s;
}
.btn-primary:hover {
    background: #4d27b7;
    opacity: 0.6;
}
.btn-outline-warning {
    background-color: #fff;
    color: #f3bb14;
}
.form-control:focus {
    border-color: #eca982;
    box-shadow: 0 0 0 0.25rem #d9520440;
}

body {
    background: seashell;
    font-family: "LINE Seed JP", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.9rem;
    color: #333;
}
.logo {
    font-family: "Lilita One";
    font-weight: 600;
    font-style: normal;
    color: #4d27b7;
    user-select: none;
}
.sab {
    position: relative;
}
.sab::before {
    content: "";
    width: 30px;
    height: 2px;
    display: inline-block;
    background-color: #4d27b7;
    position: absolute;
    top: calc(50% - 2px);
    right: calc(8% + 30px);
}
.sab::after {
    content: "";
    width: 30px;
    height: 2px;
    display: inline-block;
    background-color: #4d27b7;
    position: absolute;
    top: calc(50% - 2px);
    left: calc(8% + 30px);
}
.sunday {
    --bs-table-bg: #ffe5e5;
    --bs-table-color: #333;
}

.saturday {
    color: #4d27b7;
    --bs-table-bg: #e6ecff;
    --bs-table-color: #333;
}
.freeday {
    --bs-table-bg: #c2c3c2;
    --bs-table-color: #333;
}
.description {
    font-size: 0.8rem;
    word-break: break-word;
}
.table tbody tr:nth-child(2n) td {
    background-color: #eee;
}
table thead th {
    position: relative;
}
table thead th .auth {
    font-weight: 200 !important;
    font-size: 0.75rem;
    position: absolute;
    right: 12px;
    bottom: 2px;
    white-space: nowrap;
    color: rgb(50, 54, 50);
}
